<%%- layout('layout.html') %>

<div class="page-header">
  <h1><%= classPlural %></h1>
</div>

<a href="<%= createLink %>" class="btn btn-primary pull-right">New <%= singular %></a>

<%= tableDataCheck %>
<table class="table table-striped">
  <thead>
    <tr>
      <% attributes.forEach(function (attribute) { %>
        <th><%= attribute.label%></th>
      <% }); %>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= tableDataLoopStart %>
      <tr>
      <% attributes.forEach(function (attribute) { %>
        <td><%= attribute.accessor %></td>
      <% }); %>
        <td>
          <a href="<%= editLink %>" title="Edit <%= singular %>">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <form method="POST" action="<%= deleteLink %>" role="form">
            <button type="submit" class="btn-link" title="Delete <%=singular%>">
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
          </form>
        </td>
        <td>
          <a href="<%= viewLink %>" title="View <%=singular%>">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </a>
        </td>
    </tr>
    <%% }); %>
  </tbody>
</table>
<%%}else{%>
  <h4>No <%=plural%> found</h4>
<%%}%>

<%%if ((paginate.hasPreviousPages) || (paginate.hasNextPages(pages))){%>
   <ul class="pager">
    <%%if(paginate.hasPreviousPages){%>
    <li><a href="<%%=paginate.href(true)%>" title="Previous <%=plural%> results">Previous</a></li>
    <%%}%>
    <%%if(paginate.hasNextPages(pages)){%>
    <li><a href="<%%=paginate.href()%>" title="Next <%=singular%> results">&nbsp;&nbsp;Next&nbsp;&nbsp;</a></li>
    <%%}%>
  </ul>
<%%}%>