<%%- layout('layout.html') %>

<div class="page-header">
  <h1><%= className %></h1>
</div>

<dl class="dl-horizontal">
  <% attributes.forEach(function (attribute) { %>
      <dt><strong><%= attribute.label %></strong></dt>
      <dd><%= attribute.accessor %></dd>
  <% }); %>
</dl>

<div class="pull-right">
	<a href="<%= editLink %>" title="Edit <%=singular%>" class="btn btn-primary">
        Edit
  </a>
	<form method="POST" action="<%= deleteLink %>" role="form">
        <button type="submit" class="btn btn-danger" title="Delete <%= singular %>">Delete</button>
  </form>
	<a href="/<%= plural %>" class="btn btn-default" title="View all <%= plural %>">Back</a>
</div>