<!-- start <%= singular %> <%= name %> input -->
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	        <div class="checkbox">
	            <label>
	                <input type="checkbox" name="<%= name %>" ng-model="<%= singular %>.<%= name %>" id="<%= name %>" required="required" title="<%= placeholder %>" placeholder="<%= placeholder %>">
	                <%= label %>
	            </label>
	        </div>
	    </div>
	</div>
	<!-- end <%= singular %> <%= name %> input -->